.board {
	margin-top: 150px;
}

.row-2 {
	position: relative;
	bottom: 33px;
}

.row-3 {
	position: relative;
	bottom: 66px;
}

.row-4 {
	position: relative;
	bottom: 98px;
}

.row-5 {
	position: relative;
	bottom: 132px;
}

